PROJECT_FOLDER = ''  # The folder where all files will be stored
FILE_FILTER = '2013'  # Only pull 2013 files for sample run
CACHE_EXPIRY_SECONDS = 86400  # 1 day
NUM_WORKERS = 4  # Number of threads
ROWS_PER_PARQUET = 5000000  # 5m
BUFFER_SIZE_KB = 1024  # 1mb
LOG_ROTATION = '10 MB'
LOG_LEVEL = 'INFO'

# If using NAS device to store data rather than local disk:
NAS_PATH = '//nas.ip.here/path/to/folder'  # Use the actual IP since \\lookups don't function the same in docker wsl.
NAS_USERNAME = ''
NAS_PASSWORD = ''
