PROJECT_FOLDER = ''
FILE_FILTER = ''
CACHE_EXPIRY_SECONDS = 36000  # 10 hour
ROW_BUFFER_SIZE = 500000  # 500k
TARGET_FILE_SIZE_MB = 100
BUFFER_SIZE_KB = 1024  # 1mb
LOG_ROTATION = '10 MB'
LOG_LEVEL = 'INFO'


# If using NAS device to store data rather than local disk:
NAS_PATH = '//nas.ip.here/path/to/folder'  # Use the actual IP since \\lookups don't function the same in docker wsl.
NAS_USERNAME = ''
NAS_PASSWORD = ''
